/ArvoreComputacional/nbproject/private/
/ArvoreComputacional/build/
/Arvore/nbproject/private/
/Arvore/build/
/Trabalho ArvoreII/ArvoreComputacional /build/
/Trabalho ArvoreII/ArvoreComputacional /nbproject/private/
/SuperTree/nbproject/private/
/SuperTree/build/
/Trabalho Arvore I/SuperTree/build/
/Trabalho Arvore I/SuperTree/nbproject/private/
/Trabalho Arvore Computacional/SuperTree/build/
/AvlBinaria/nbproject/private/
/AvlBinaria/build/
/AvlBinaria/dist/
/AvlCheck/nbproject/private/
/AvlCheck/build/
/interview/nbproject/private/
/interview/build/
/AvlCheck/dist/
/Trabalho Arvore Computacional/SuperTree/dist/